.add-service {
    background-color: rgb(111, 153, 159);
    padding-bottom: 50px;

}

.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form input,textarea{
    width: 45%;
    border-radius: 4px;
    margin: 10px;
    padding:10px
}

.add-service submit{
    width: 35%;
    margin: 10px;
    padding:7px
}

.titleStyle {
    font-size:38px;
    padding:46px;
    color:#fff;
    text-align: center;
    font-weight: 800 ;
}

.title {
    font-family: raleway;
    color:rgb(252, 4, 4);
}

