.email-placeholder {  
    width: 50%; 
    height: 52px; 
    padding-left: 10px
}

.button{
    background-color:red;
    color:#fff;
    height: 52px;
    border: none;
    border-radius: 0px;
}

.icon{
    padding-left: 5px;
}

.planText{
    background-color:red;
    height:12px;
    color:#fff;
    border-radius: 25px;
    border-color: none;
}